.parceiros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xl);
    width: 100%;
    padding: var(--padding-5xl) 0;
    background-color: var(--cor-neutra-light);
}

.parceiros__titulo {
    font-size: var(--font-size-h3);
    color: var(--cor-primaria-medio);
}

.parceiros__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--gap-3xl);
    row-gap: var(--gap-l);
}

.parceiros__lista > div {
    flex: 1 0 100px;
    width: 100%;
}

.parceiros__lista > div > img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.parceiros__lista > div:nth-child(odd):hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--cor-primaria-box-shadow);
}

.parceiros__lista > div:nth-child(even):hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--cor-secundaria-box-shadow);
}

@media screen and (max-width: 1200px) {

    .parceiros {
        padding: var(--padding-xxl) 7.75rem;
    }
}

@media screen and (max-width: 620px) {

    .parceiros {
        padding: var(--padding-xxl) var(--padding-l);
    }

    .parceiros__titulo {
        font-size: var(--font-size-h4);
    }

    .parceiros__lista {
        column-gap: var(--gap-m);
        padding: 0 var(--padding-xl);
    }
}